* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 260px;
  margin: 20px;
  padding: 2px 8px;
}

.container {
  background-color: rgb(132, 0, 255);
  width: 260px;  
}
.navbar {
  width: 100%;
  height: 30px;
  background-color: rgb(93, 0, 180);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar i {
  color: rgb(252, 193, 117);
}
.navbar i:hover {
    color: yellow;
}
.keys {
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 8px;
}

.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.key {
  width: 20px;
  height: 30px;
  font-size: 15px;
  color: rgb(252, 193, 117);
  border-radius: 4px;
  background-color: rgb(93, 0, 180);
  margin: 0 3px;
  border: 1px solid rgb(142, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgb(43, 43, 43);
  cursor: pointer;
  position: relative;
}
.key b {
    display: none;
}
.key p {
    font-size: 12px;
    display: none;
}
.key.globe p{
   display: flex;
}
.key.globe span{
    display: none;
}
.key.globe b {
    display: none;
}
.key.change span {
 display: none;
}
.key.change b {
    display: flex;
}
.key.change p{
    display: none;
}
.key:hover {
    box-shadow: 0 2px 2px black;
}
.key.active {
    background-color: yellow;
    color: rgb(29, 29, 29);
}
.key-space:hover {
    box-shadow: 0 2px 2px black;
    /* background-color: yellow;
    color: rgb(29, 29, 29); */
}
.key-delete:hover {
    box-shadow: 0 2px 2px black;
}
.key-123 p {
    display: none;
}
.key-123.switch p {
    display: flex;
}
.key-123.switch span {
    display: none;
}
.key-123:hover {
    box-shadow: 0 2px 2px black;
}
.key.active span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-120%;
    background: yellow;
    border-radius: 4px;
    color: rgb(29, 29, 29);
    transform: scale(1.35);
    transition: 0.05s;
}
.key.change.active span {
    display: none;
}
.key.change.active b {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-120%;
    background: yellow;
    border-radius: 4px;
    color: rgb(29, 29, 29);
    transform: scale(1.35);
    transition: 0.05s;
}
.key.globe.active span {
    display: none;
}

.key.louer-case {
    text-transform: lowercase;
}

.key-shift {
  width: 30px;
  margin-left: 0;
  margin-right: 6px;
}
.key-delete {
  width: 30px;
  margin-right: 0;
  margin-left: 6px;
  height: 30px;
  font-size: 15px;
  color: rgb(252, 193, 117);
  border-radius: 4px;
  background-color: rgb(93, 0, 180);
  border: 1px solid rgb(142, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgb(43, 43, 43);
  position: relative;
}
.key-123 {
  font-size: 10px;
  margin: 0;
  width: 30px;
  margin-left: 3px;
  color: rgb(252, 193, 117);
  border-radius: 4px;
  background-color: rgb(93, 0, 180);
  border: 1px solid rgb(142, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgb(43, 43, 43);
  position: relative;
}
.key-globe {
  width: 30px;
  margin: 0;
}
.key-space {
  width: 124px;
  margin: 0;
  text-transform: lowercase;
  height: 30px;
  font-size: 15px;
  color: rgb(252, 193, 117);
  border-radius: 4px;
  /* margin-right: 1px; */
  background-color: rgb(93, 0, 180);
  border: 1px solid rgb(142, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgb(43, 43, 43);
  position: relative;
}
.key-return {
  width: 59px;
  margin: 0;
  margin-right: 3px;
  margin-left: 3px;
  height: 30px;
  font-size: 15px;
  color: rgb(252, 193, 117);
  border-radius: 4px;
  background-color: rgb(93, 0, 180);
  border: 1px solid rgb(142, 21, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 1px 1px rgb(43, 43, 43);
  position: relative;
}
.key-return i {
  transform: rotate(90deg);
  
}

button {
    padding: 3px 20px;
    margin: 20px;
    outline: none;
    border: 1px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
}
button:hover{
    background-color: rgb(142, 21, 255);
    color: white;
}
